<div id="event_modal" class="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="event-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> Add A New Event </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="date-message" class="col-md-12">
                           Add an event for <span style="font-weight:bold" id="date-message-header"></span>
                        </div>
                        <div class="event-input input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Event Name" id="event_name"/>
                        </div>
                        <div class="event-input input-group col-md-12">
                            <textarea id="event_notes" rows=5 placeholder=" Enter some notes"></textarea>
                        </div>
                        <div class="event-input input-group col-md-12">
                            <button id="event_adder" class="btn btn-primary" data-btn-name="mybtn">Create Event</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>