<script type="text/javascript">
	$(document).ready(function(){

		$('#contact_adder').click(function(){

			var contact_object = {
				first_name: $('#first_name').val(),
				last_name:$('#last_name').val(),
				email: $('#email').val(),
				phone_number: $('#phone_number').val()
			};

        	// Send my event to db
        	$.ajax({
        		type: "POST",
        		url: "post_contact",
        		data: contact_object
        	});

        	$('#myModal').modal('hide');
		});

	});
</script>


<div class="row">
	<div class="contact-adder col-md-12">
		<button class="btn btn-primary" id="contact-pop-up" data-toggle="modal" data-target="#myModal">
		<i class="fa fa-user"></i> Add A New Contact </button>
	</div>
	<div class="col-md-12 contact-list">
		<% if @contacts.size > 0 %>
			<table class="table">
				<% @contacts.each do |contact| %>
					<tr>
						<th><h4><%= contact.last_name %>, <%= contact.first_name %></h4></th>
						<td><h5>Phone:</h5><a><%=contact.phone_number %></a></td>
						<td><h5>Email:</h5><a><%=contact.email %></a></td>
					</tr>
				<% end %>
			</table>
		<%else%>
			<h3> Looks like you have not added any contacts yet! </h3>
		<%end%>
	</div>
</div>

<div id="myModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="contact-header">
					<h4 class="modal-title"> Create A New Contact </h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="contact-input input-group col-md-12">
							<input type="text" class="form-control" placeholder="First Name" name="first_name" id="first_name"/>
						</div>
						<div class="contact-input input-group col-md-12">
							<input type="text" class="form-control" placeholder="Last Name" name="last_name" id="last_name"/>
						</div>
						<div class="contact-input input-group col-md-12">
							<input type="email" class="form-control" placeholder="Email" name="email" id="email"/>
						</div>
						<div class="contact-input input-group col-md-12">
							<input type="text" class="form-control" placeholder="Phone Number" name="phone_number" id="phone_number"/>
						</div>
						<div class="contact-input input-group col-md-12">
							<button id="contact_adder" class="btn btn-primary">Add to contacts</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

