/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.contact-input{
	margin-bottom: 2%;
}

.event-input{
	margin-bottom: 2%;
}

#event_notes{
	width: 100%;
}

.contact-list{
	margin-top: 2%;
}

#calendar{
	margin-bottom: 2%;
}

#sign_up_btn{
	color: white;
	border-radius: 0px;
}

#sign_up_btn:hover{
	background-color: #428bca;
}

body{
	background-color:#FFFACD;
}
.navbar-default {
	background-color:#F5DEB3;
}

#main-header{
	font-family: allan, sans-serif;
	font-size: 5em;
}

.banner{
	text-align: center;
}

#main-sub-header{
	font-family: dhyana, sans-serif;
	font-size: 2em;
}

.descriptive-row{
	font-family: dhyana, sans-serif;
}

.navbar-brand{
	font-family: allan, sans-serif;
	font-size: 2em;
}

.descriptive-panel{
	margin-top: 2.5%;
}

.footer-content{
	margin-top: 0.5%;
}

.footer-signature{
	font-family: dhyana, sans-serif;
}

#rails-logo{
	margin-left: 1%;
	margin-top: 0.25%;
	height: 30px;
	width: 30px;
}

.event-display-input{
	margin-bottom: 2%;
}

#event_display_name{
	margin-left: 2%;
}

#event_display_date{
	margin-left: 2%;
}

.modal-header{
	background-color: #F5DEB3;	
}

.modal{
	font-family: dhyana, sans-serif;	
}

.modal-body{
	background-color: #FFFACD;
}

.navbar-nav{
	font-family: dhyana, sans-serif;	
}

.upcoming-events{
	font-family: dhyana, sans-serif;
}

.supporting_tips{
	font-family: dhyana, sans-serif;
}

#calendar{
	font-family: dhyana, sans-serif;
}

.fc-day-grid-event{
	height: 25px;
	font-size: 11px;
}

.sign-up-form{
	font-family: dhyana, sans-serif;
}

.login-form{
	font-family: dhyana, sans-serif;
}