<%= javascript_include_tag 'moment.min.js' %>
<%= javascript_include_tag 'fullcalendar.min.js' %>
<script type="text/javascript">
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
    	// Event handler for day clicks
        dayClick: function(date, jsEvent) {
        	var my_birthday = moment(date.format());
        	var background_color = "Blue";
        	var event_object = {
        		title: "My Event",
        		start: date.format(),
        		backgroundColor: background_color
        	};

        	// Send my event to db
        	$.ajax({
        		type: "POST",
        		url: "post_event",
        		data: event_object
        	});

        	$('#calendar').fullCalendar('renderEvent', event_object);
    	},

    	// Event handler for event clicks
    	eventClick: function(calEvent, jsEvent, view){
    		var formattedDate = moment(calEvent.start).format('MM-DD-YYYY');
    		alert('Event: ' + calEvent.title + "\n" + 'Date: ' + formattedDate + "\n");
    	}
    });

});
</script>


<div class="row">
    <div class="col-md-10 col-md-offset-1" id='calendar'></div>
</div>