<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			Images go here
		</div>
	</div>
</div>
<div class="row" style="background-color:red">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				Agendify
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
			Features
			</div>
		</div>
	</div>
</div>
<div class="row">
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    THIS IS THE FOOTER
  </div>
</nav>
</div>