<div class="row">
	<div class="banner col-md-8 col-md-offset-2">
		<h2 id="main-header">Agendify</h2>
		<h5 id="main-sub-header">Bringing your agenda to the web</h5>
	</div>
</div>
<div class="descriptive-panel panel panel-default">
	<div class="descriptive-row row">
		<div class="col-md-6">
			<div class="descriptive panel-body">
				<h4>About</h4>
				<p> Agendify is a free web based application that helps students manage their agendas </p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="descriptive panel-body">
				<h4> Features </h4>
				<p>
					Agendify allows students to:
					<ul>
						<li class="fa fa-calendar"> Plan & organize your calendar </li>
						<li class="fa fa-pencil-square-o"> Keep track of your homeworks, exams, and events </li>
						<li class="fa fa-users"> Organize and manage your contacts </li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="footer-content col-md-5">
  	&copy;Vidya Gopal 2014/15
  </div>
  <div class="footer-content col-md-5">
  	Powered by Ruby on Rails
  </div>
</nav>
</div>