<script src="http://use.edgefonts.net/allan;dhyana.js"></script>
<div class="row">
	<div class="banner col-md-6 col-md-offset-3">
		<h2 id="main-header">Agendify</h2>
		<h5 id="main-sub-header">Bringing your agenda to the web</h5>
	</div>
</div>
<div class="descriptive-row row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="descriptive panel-body">
				<h5>What is Agendify? </h5>
				<p> Agendify is a web based school agenda that is easy to use</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="descriptive panel-body">
				<h5>Features </h5>
				<p>
					Agendify allows students to:
					<ol>
						<li> Plan & organize your calendar </li>
						<li> Keep track of your homeworks, exams, and events </li>
						<li> Organize and manage your contacts </li>
					</ol>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="footer-content col-md-5">
  	&copy;Vidya Gopal
  </div>
</nav>
</div>