<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="jumbotron">
			Images go here
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="descriptive panel-body">
				<h5> What is Agendify? </h5>
				<p> Agendify is a web based school agenda that is easy to use</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="descriptive panel-body">
				<h5>Features </h5>
				<p>
					Agendify allows students to:
					<ol>
						<li> Plan & organize your calendar </li>
						<li> Keep track of your homeworks, exams, and events </li>
						<li> Organize and manage your contacts </li>
					</ol>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    THIS IS THE FOOTER
  </div>
</nav>
</div>