<div class="panel panel-default">
  <div class="panel-heading">Agendify</div>
  <div class="panel-body">
   Agendify is an easy to use agenda for students.
Agendify allows you to:

    Plan & organize your calendar

    Keep track of your homeworks, exams, and events

    Organize and manage your contacts

  </div>
</div>