<!DOCTYPE html>
<html>
<head>
  <title>Agendify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 navbar-header">
      	<a class="navbar-brand" href="/">Agendify</a>
        <ul class="nav navbar-nav">
            <li><a href="calendar">My Calendar</a></li>
            <li><a href="contacts">My Contacts</a></li>
        </ul>
      </div>
      <div class="col-md-2 navbar-header">
        <div class="inner-control" style="float:right;margin-top:5%;margin-bottom:4%;margin-right:5%">
          <button class="btn btn-primary">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid">
		<%= yield %>
</div>
</body>
</html>
